* {
  box-sizing: border-box;
}
$bp-sm: 30em;
$bp-md: 80em;
$bp-lg: 100em;


//colors
$col-kuato: #3bb3f4;
$col-beardo: #ff8000;
$col-tyza: #ff00c9;
$col-brand: #1ee43a;

body {
  overflow-x: hidden;
  background: black;
}
img {
  max-width: 100%;
}
