.homepage {
  height: 100vh;
  width: 100vw;
  padding: 2em;
  box-sizing: border-box;
  color: white;
  //background-color: #333;
  //background-image: url('../images/bg.jpg');
  background-position: center center;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.homepage__banner {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../images/bg.jpg');
  height: 100vh;
  width: 100vw;
  display: none;
  background-size: cover;
  background-position: center center;
  .mobile & {
    display: block;
  }
}
.hp__title {
  position: relative;
}
.glass {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/glass--big.png');
  background-position: center center;
  background-size: 40%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0;
  transition-delay:  0.4s;
  z-index: 1;

  .bam & {
    opacity: 1;
  }
}
.comingsoon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  h3 {
    font-size: 2.8em;
    transition-duration: 0.4s;
    transition-property: transform, top;
    transition-timing-function: ease-in;
    transform: rotate(-25deg) scale(10);
    text-shadow: $textShadow;
    font-family: $fontHeadings;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    z-index: 1;
    @media all and (min-width: $bp-sm) {
      font-size: 4.2em;
    }
    @media all and (min-width: $bp-md) {
      font-size: 8em;
    }
    .bam & {
      transform: rotate(-25deg) scale(1);
      top: 50%;
      opacity: 1;
    }
  }
}

.opacity {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    background-image: url(https://www.transparenttextures.com/patterns/3px-tile.png);
}
